html, body, .content {
  height: 100%; }

.info {
  height: 100%;
  background-color: black;
  /*small view*/ }
  .info .circle {
    opacity: .7;
    display: block;
    position: absolute;
    background-color: white;
    z-index: 10; }
  .info .fa.fa-fw {
    font-size: 30px; }
  .info .fa.fa-fw.fa-github {
    border-radius: 150%;
    border-color: red;
    color: #FF33FF; }
  .info .fa.fa-fw.fa-github:hover {
    color: purple; }
  .info h1, .info h2, .info h3, .info h4, .info h5, .info h6 {
    font-family: 'Nunito', sans-serif; }
  .info h1 {
    border-bottom: 2.2px #4582ec solid;
    color: #A56262; }
  .info h2 {
    color: #E3ECFF; }
  .info h3 {
    font-size: 1.5em;
    color: #E3ECFF; }
  .info img.center {
    display: block;
    margin-left: auto;
    margin-right: auto; }
  .info .img-circular {
    opacity: .6;
    border-radius: 50%;
    width: 220px;
    height: 220px;
    background: url(../img/profile.jpg) no-repeat;
    background-position: 50% 0%; }
  .info .img-circular:hover {
    opacity: 1; }
  .info .main-content {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-color: black; }
  .info .bottom-content {
    position: absolute;
    top: 100%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-100%);
    -ms-transform: translateX(-50%) translateY(-100%);
    transform: translateX(-50%) translateY(-100%);
    background-color: black; }
  .info .upper-content {
    z-index: 1;
    position: absolute;
    top: 5%;
    left: 90%;
    -webkit-transform: translateX(-90%) translateY(-5%);
    -ms-transform: translateX(-90%) translateY(-5%);
    transform: translateX(-90%) translateY(-5%); }
  .info .upper-content a {
    font-size: 1.5em;
    color: '#4582e'; }
  .info .upper-content a:hover {
    font-size: 2em;
    text-decoration: none;
    color: white; }
  @media (max-width: 760px) {
    .info .upper-content a {
      font-size: 1em; }
    .info .upper-content a:hover {
      font-size: 1.5em; }
    .info .main-content {
      padding-top: 75px;
      position: relative;
      top: auto;
      left: auto;
      -webkit-transform: none;
      -ms-transform: none;
      transform: none; }
    .info .bottom-content {
      position: relative;
      text-align: center;
      top: auto;
      left: auto;
      -webkit-transform: none;
      -ms-transform: none;
      transform: none; }
    .info h1 {
      font-size: 2em; }
    .info .img-circular {
      width: 160px;
      height: 160px; }
    .info h3 {
      font-size: 1em; } }

.blog .container {
  position: relative;
  height: 100%; }
  .blog .container .row {
    position: relative;
    height: 100%; }

.blog .sold {
  color: #E18585; }

.blog .open {
  color: #4D9AE7; }

.blog h1, .blog h3, .blog h4, .blog h5, .blog h6 {
  color: #464646; }

.blog .navbar-default .navbar-nav > li > a {
  color: white; }

.blog .main-content {
  height: 500px;
  margin-top: 65px;
  position: relative; }

.blog .main-wrapper {
  position: relative;
  height: 100%; }
  .blog .main-wrapper img {
    position: relative;
    width: 60%;
    border-radius: 50%;
    max-width: 300px; }
  .blog .main-wrapper h3 {
    padding: 50px;
    background: rgba(53, 47, 47, 0.75); }
  .blog .main-wrapper h1, .blog .main-wrapper h2, .blog .main-wrapper h3, .blog .main-wrapper h4, .blog .main-wrapper h5, .blog .main-wrapper h6, .blog .main-wrapper a {
    font-family: 'Times New Roman', sans-serif;
    color: white !important; }

.blog .main-bg {
  position: absolute;
  background: url(../img/mainbg.jpg) no-repeat;
  background-position: 50% 100%;
  background-size: 100% 150%;
  height: 100%;
  width: 100%;
  opacity: .6; }

.blog .table {
  border: 1px solid #000000; }

.blog .table > thead > tr > th, .blog .table > tbody > tr > th,
.blog .table > tfoot > tr > th, .blog .table > thead > tr > td,
.blog .table > tbody > tr > td, .blog .table > tfoot > tr > td {
  border-top: 1px solid black; }

.blog .table > thead > tr > th {
  border-bottom: 2px solid black; }

.blog .navbar-default {
  background-color: #212020; }
  .blog .navbar-default .navbar-brand {
    font-size: 35px;
    padding: 0;
    color: #89A9E1; }

.blog hr {
  border-top: 1px solid #89A9E1; }

.blog .vertical-middle {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

@media (max-width: 760px) {
  .blog .vertical-middle {
    top: auto;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    margin-top: 15px; }
  .blog .main-wrapper h3 {
    font-size: 24px;
    padding: 20px; }
  .blog .navbar-brand {
    margin-left: 10px; } }
