html, body, .content {
  height: 100%; }

.info {
  height: 100%;
  background-color: black;
  /*small view*/ }
  .info .circle {
    opacity: .7;
    display: block;
    position: absolute;
    background-color: white;
    z-index: 10; }
  .info .fa.fa-fw {
    font-size: 30px; }
  .info .fa.fa-fw.fa-github {
    border-radius: 150%;
    border-color: red;
    color: #FF33FF; }
  .info .fa.fa-fw.fa-github:hover {
    color: purple; }
  .info h1, .info h2, .info h3, .info h4, .info h5, .info h6 {
    font-family: 'Nunito', sans-serif; }
  .info h1 {
    border-bottom: 2.2px #4582ec solid;
    color: #A56262; }
  .info h2 {
    color: #E3ECFF; }
  .info h2:hover {
    color: #4582ec; }
  .info h3 {
    font-size: 1.5em;
    color: #E3ECFF; }
  .info img.center {
    display: block;
    margin-left: auto;
    margin-right: auto; }
  .info .img-circular {
    border-radius: 50%;
    width: 220px;
    height: 220px;
    background: url(../img/profile.jpg) no-repeat;
    background-position: 50% 0%; }
  .info .main-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: black; }
  .info .bottom-content {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%) translateY(-100%); }
  .info .upper-content {
    z-index: 1;
    position: absolute;
    top: 5%;
    left: 90%;
    transform: translateX(-90%) translateY(-5%); }
  .info .upper-content a {
    font-size: 1.5em;
    color: '#4582e'; }
  .info .upper-content a:hover {
    font-size: 2em;
    text-decoration: none;
    color: white; }
  @media (max-width: 760px) {
    .info .upper-content a {
      font-size: 1em; }
    .info .upper-content a:hover {
      font-size: 1.5em; }
    .info .main-content {
      padding-top: 75px;
      position: relative;
      top: auto;
      left: auto;
      transform: none; }
    .info .bottom-content {
      position: relative;
      text-align: center;
      top: auto;
      left: auto;
      transform: none; }
    .info h1 {
      font-size: 2em; }
    .info .img-circular {
      width: 160px;
      height: 160px; }
    .info h3 {
      font-size: 1em; } }

.blog .navbar {
  border: none; }
