
$xs-only: "(max-width: 760px)";
$small-only: "(min-width:768px) and (max-width:991px)";
$medium-only: "(min-width:992px) and (max-width:1199px)";
$large-only: "(min-width:1200px)";

html,body,.content{
  height:100%;
}

.info{
  height: 100%;
  background-color: black;
  .circle {
    opacity: .7;
    display:block;
    position:absolute;
    background-color: white;
    z-index: 10;
  }
  .fa.fa-fw {
    font-size:30px;
  }
  .fa.fa-fw.fa-github {
    border-radius:150%;
    border-color:red;
    color:#FF33FF;
  }
  .fa.fa-fw.fa-github:hover {
    color:purple;
  }
  h1,h2,h3,h4,h5,h6{
    font-family: 'Nunito', sans-serif;
  }
  h1 {
    border-bottom:2.2px #4582ec solid;
    color:#A56262;
  }
  h2{
    color:#E3ECFF;
  }
  h3{
    font-size:1.5em;
    color:#E3ECFF;
  }
  img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .img-circular {
    opacity: .6;
    border-radius: 50%;
    width: 220px;
    height: 220px;
    background: url(../img/profile.jpg) no-repeat;
    background-position: 50% 0%;
  }
  .img-circular:hover {
    opacity: 1;
  }
  .main-content{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-color: black;
  }
  .bottom-content{
    position: absolute;
    top: 100%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-100%);
    -ms-transform: translateX(-50%) translateY(-100%);
    transform: translateX(-50%) translateY(-100%);
    background-color: black;
  }
  .upper-content{
    z-index: 1;
    position: absolute;
    top: 5%;
    left: 90%;
    -webkit-transform: translateX(-90%) translateY(-5%);
    -ms-transform: translateX(-90%) translateY(-5%);
    transform: translateX(-90%) translateY(-5%);
  }
  .upper-content a{
    font-size:1.5em;
    color:'#4582e';
  }
  .upper-content a:hover{
    font-size:2em;
    text-decoration: none;
    color: white;
  }
  /*small view*/
  @media #{$xs-only}{
    .upper-content a{
      font-size:1em;
    }
    .upper-content a:hover{
      font-size:1.5em;
    }
    .main-content{
      padding-top: 75px;
      position: relative;
      top:auto;
      left:auto;
      -webkit-transform: none;
      -ms-transform: none;
      transform: none;
    }
    .bottom-content{
      position: relative;
      text-align: center;
      top:auto;
      left:auto;
      -webkit-transform: none;
      -ms-transform: none;
      transform: none;
    }
    h1{
      font-size:2em;
    }
    .img-circular{
      width: 160px;
      height: 160px;
    }
    h3{
      font-size:1em;
    }
  }
}

.blog{
  .container{
    position: relative;
    height: 100%;
    .row{
      position: relative;
      height: 100%;
    }
  }
  .sold{
    color: #E18585;
  }
  .open{
    color:#4D9AE7;
  }
  h1,h3,h4,h5,h6  {
    color: #464646;
  }
  .navbar-default .navbar-nav>li>a{
    color: white;
  }
  .main-content{
    height: 500px;
    margin-top: 65px;
    position: relative;
  }
  .main-wrapper{
    position: relative;
    height:100%;
    img{
      position: relative;
      width:60%;
      border-radius: 50%;
      max-width: 300px;
    }
    h3{
      padding: 50px;
      background: rgba(53,47,47,.75);
    }
    h1,h2,h3,h4,h5,h6,a{
      font-family: 'Times New Roman', sans-serif;
      color: white !important;
    }
  }
  .main-bg{
    position: absolute;
    background: url(../img/mainbg.jpg) no-repeat;
    background-position: 50% 100%;
    background-size: 100% 150%;
    height: 100%;
    width: 100%;
    opacity: .6;
  }
  .table{
    border: 1px solid #000000;
  }
  .table>thead>tr>th, .table>tbody>tr>th,
  .table>tfoot>tr>th, .table>thead>tr>td,
  .table>tbody>tr>td, .table>tfoot>tr>td {
    border-top: 1px solid black;
  }
  .table>thead>tr>th {
    border-bottom: 2px solid black;
  }
  .navbar-default{
    .navbar-brand{
      font-size:35px;
      padding: 0;
      color:#89A9E1;
    }
    background-color:#212020;
  }
  hr{
    border-top: 1px solid #89A9E1;
  }
  .vertical-middle{
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  @media #{$xs-only}{
    .vertical-middle{
      top:auto;
      -webkit-transform: none;
      -ms-transform: none;
      transform: none;
      margin-top:15px;
    }
    .main-wrapper{
      h3{
        font-size: 24px;
        padding: 20px;
      }
    }
    .navbar-brand{
      margin-left: 10px;
    }
  }

}
