<!DOCTYPE html>
<html lang="en">
  <body id="page-top" class="index">
    <!-- Header -->
  <div class="jumbotron text-center">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <img class="center img-circular "/>
          <h2>Lun Zhang</h2>
          <a href="https://www.facebook.com/lun.zhang.12" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
          <a href="https://github.com/lunzhang" class="btn-social btn-outline"><i class="fa fa-fw fa-github"></i></a>
        </div>
      </div>
    </div>
  </div>

<div class="container info" >
    <div class="row">
      <div class="col-xs-12">
        <h1>About Me</h1>
        <p>Hello, I'm Lun.  I am a computer science student at Stony Brook University and is graduating in Dec 2015.  I'm a web developer with some mobile experience.</p>
        <h1>Contact</h1>
        <p>lun.zhang1993@stonybrook.edu</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <h1>Projects</h1>
      </div>
      <div class="col-lg-6">
        <h3><a href="https://github.com/lunzhang/BSxSB">BSxSB</a></h3>
        <a href="https://github.com/lunzhang/BSxSB">
          <div class="BSxSB img-responsive">
            <div class="imgText">
              <i>
                <p>
                  Current Course Project: Software Engineering, Web and Database Application
                </p></i>
                <p class="col-lg-offset-1">•	Spring MVC v4.0.1 with Hibernate v4.3.1, Bootstrap Bootswatch Cerulean GUI</p>
                <p class="col-lg-offset-1">•	NetBeans Glassfish v4.1 and Stony Brook MySQL server (MySQL workbench)</p>
              </div>
            </div>
          </a>
        </div>

        <div class="col-lg-6">
          <h3><a href="https://github.com/lunzhang/lovebucket">LoveBucket</a></h3>
          <a href="https://github.com/lunzhang/lovebucket">
            <div class="LoveBucket">
              <div class="imgText">
                <i><p> Course Project: Principles of Database Systems, Web and Database Application	</p></i>
                <p class="col-lg-offset-1">•Spring MVC v4.0.1 with Hibernate v4.3.1, Bootstrap Freelancer GUI
                </p>
                <p class="col-lg-offset-1">•NetBeans Glassfish v4.1 and XAMMP MySQL servers</p>
              </div>
            </div>
          </a>
        </div>

        <div class="col-lg-6">
          <h3> <a href="https://play.google.com/store/apps/details?id=com.lun">Lun</a></h3>
          <a href="https://play.google.com/store/apps/details?id=com.lun">
            <div class="Lun">
              <div class="imgText">
                <i><p>
                  Personal Project: Android
                </p></i>
                <p class="col-lg-offset-1">•	Timer based game</p>
                <p class="col-lg-offset-1">•	Image switching and tracks score</p>
              </div>
            </div>
          </a>
        </div>

        <div class="col-lg-6">
          <h3>  <a href="https://play.google.com/store/apps/details?id=com.store.lun.drawoutloud">Draw Out Loud</a> </h3>
          <a href="https://play.google.com/store/apps/details?id=com.store.lun.drawoutloud">
            <div class="DrawOutLoud">
              <div class="imgText">
                <i>
                  <p>
                    Personal Project: Android
                  </p></i>
                  <p class="col-lg-offset-1">•	Canvas Painting Application</p>
                  <p class="col-lg-offset-1">•	Allows loading and saving from and to gallery</p>
                </div>
              </div>
            </a>
          </div>

        </div>
      </div>
    </div>

    <!-- Footer -->
    <footer class="text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-offset-4 col-lg-4" style="margin-top:5px;">
            <ul class="list-inline">
              <li>
                <a href="https://www.facebook.com/lun.zhang.12" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
              </li>
              <li>
                <a href="https://github.com/lunzhang" class="btn-social btn-outline"><i class="fa fa-fw fa-github"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-below">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              &copy; LunZhang 2014
            </div>
          </div>
        </div>
      </div>
    </footer>

</div>

  </body>
</html>
