<div id="projects" class="text-center">
  <!-- navbar -->
  <navbar></navbar>

  <div class="container-fluid">
    <h2 style="padding-top:0;">Web</h2>
    <div class="row">
      <div class="col-xs-6">
        <h4>
          <a href="#/flappypig">Flappy Pig</a>
          <a href="https://github.com/lunzhang/FlappyPig" class="btn-social btn-outline"><i class="fa fa-fw fa-github"></i></a>
        </h4>
        <h6>
          Flappy Bird game built using Phaser in Typescript.
        </h6>
      </div>
      <div class="col-xs-6">
        <h4>
          <a href="#/nike">Nike</a>
        </h4>
        <h6>
          Nike.com's Api to fetch Current Men's Clearance Shoes and
          uses browsers local storage to keep track of newly added shoes since last visit.
        </h6>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6">
        <h4>
          <a href="#/googlemap">Google Map</a>
        </h4>
        <h6>
          Interactive Google Map with a draggable marker, and lat/long inputs.
        </h6>
      </div>
      <div class="col-xs-6">
        <h4>
          <a href="#/d3">D3</a>
        </h4>
        <h6>
          Globe and time-line of my life events built using D3 and D3-timeline
        </h6>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6">
        <h4>
          BSxSB
          <a href="https://github.com/lunzhang/BSxSB" class="btn-social btn-outline"><i class="fa fa-fw fa-github"></i></a>
        </h4>
        <h6>
          Software Engineering class project.  Java Web Application built using Spring and Hibernate with MySQL server.
        </h6>
      </div>
      <div class="col-xs-6">

      </div>
    </div>
  </div>

  <div class="container-fluid">
    <h2>Mobile <a href="https://play.google.com/store/apps/developer?id=Lun%20Zhang&hl=en">Play Store</a></h2>
    <div class="row">
      <div class="col-xs-6">
        <h4>
          Score Tracker
          <a href="https://github.com/lunzhang/ScoreTracker" class="btn-social btn-outline"><i class="fa fa-fw fa-github"></i></a>
        </h4>
        <h6>
          Ionic/Cordova App allowing users to keep track of score.
        </h6>
      </div>
      <div class="col-xs-6">
        <h4>
          Lunarie
          <a href="https://github.com/lunzhang/lunariemobile" class="btn-social btn-outline"><i class="fa fa-fw fa-github"></i></a>
        </h4>
        <h6>
          Ionic/Cordova game where circles, built on Angular's directive,
          would randomly appear and users have to tap them as fast as possible.
        </h6>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6">
        <h4>
          Archery
          <a href="https://github.com/lunzhang/Archery" class="btn-social btn-outline"><i class="fa fa-fw fa-github"></i></a>
        </h4>
        <h6>
          React Native game where players have to shoot the target with the arrow.
        </h6>
      </div>
      <div class="col-xs-6">

      </div>
    </div>
  </div>

  <div class="container-fluid">
    <h2>Playground</h2>
    <div class="row">
      <div class="col-xs-6">
        <h4> <a href="#/babylon">Babylon</a>
        </h4>
        <h6>
          Bablyon js
        </h6>
      </div>
      <div class="col-xs-6">
        <h4> <a href="#/login">Auth</a>
        </h4>
        <h6>
          User authentication with passport.js, and local mongodb connected using mongoose.
          JWT for authenticated users and password hashed using node crypto
        </h6>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6">
        <h4> <a href="#/spybox/login">Spybox</a>
        </h4>
        <h6>
          Game where players take turn on describing the given item and have to find the spy in the time limit.
          Chat and game play between users communicate through socket.io.  
        </h6>
      </div>
      <div class="col-xs-6">

      </div>
    </div>
  </div>


</div>
