<div id="socket">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3">
                <input  class="form-control" ng-model="roomId" placeholder="Enter Room Id">
                <button type="button" class="btn btn-primary" ng-click="joinRoom()">
                   Join Room
                </button>
                <button type="button" class="btn btn-primary" ng-click="createRoom()">
                    Create Room
                </button>
            </div>
            <div class="col-sm-3">
               {{roomId}}
            </div>
            <div class="col-sm-6 chat-wrapper">
                <div class="chat-box">
                    <div id="message-box" scroll-glue>
                        <div class="container-fluid" style="padding-left:5%;padding-right:0;overflow-x:hidden;">
                            <div ng-repeat="message in messages track by $index" style="border-bottom:1px solid grey;background-color:white;">
                                <div class="row" style="padding:5px 0;">
                                    <div class="col-xs-12" title="{{message.date}}" style="min-height:22px;color:grey;">
                                        {{message.message}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <textarea id="input-box" maxlength="30"></textarea>
                </div>
            </div>
        </div>
    </div>
</div>
